[2016-07-15 02:38] ajhodges opened #150 "Add pokestops to the trolley map"
That's one way to increase the user count ;) could start a whole new wave of poketrolleying!

[2016-07-15 14:45] mblizzard-gvl commented on #150
I spoke with our Public Information team.  Because it is city branded, they would rather not have this added to the map.  Their view is to provide useful information for everyone.  if you are not a player, then the map would become cluttered.

[2016-07-16 03:57] ajhodges commented on #150
Oh, honestly this was mostly a joke :) but I'm glad to hear an official response on it. Thank you!

[2016-07-16 03:57] #150 closed

[2017-01-24 04:30] allella opened #151 "Hands on Greenville Day and Greenville Drive Pick-up"
The trolley came up in conversations about Hands on Greenville Day, which has an after-party at Fluor Field for about 2-3 thousand people.

They said last year the trolley on the return trip took longer than people expected due to logistics of running the Main Street route and shuttling volunteers to the county parking.

I suggested people could use the app to see if a trolley was nearby so they c

[2017-01-24 11:48] jeremywight commented on #151
Yeah that would be great Jim. I'll talk to Nicole about that tonight.

On Mon, Jan 23, 2017 at 11:30 PM Jim Ciallella <notifications@github.com>
wrote:

[2017-02-02 18:00] allella commented on #151
@jeremywight any feedback on putting a sign and trolley download outside the Drive stadium?

[2017-02-02 19:09] tkenney-gvl opened #152 "Device update"
Hello everyone,
It's been a while, which is good, since the trackers have been running mostly without issues. Just wanted to throw this out there; the devices have Nougat (Android 7.0) pending for updates. What's the status with the app and the major update? I don't want to break something in production that would take quite a while to fix. Should we wait till the 3rd trolley gets purchased and we

[2017-02-02 23:51] jeremywight commented on #151
Ahh, I forgot to ask her that. She was pretty busy with community folks,
but I totally forgot about the specific question. I'll send her an email
about it...

On Thu, Feb 2, 2017 at 1:00 PM, Jim Ciallella <notifications@github.com>
wrote:

[2017-02-02 23:57] jeremywight commented on #152
Thanks for the catch @tkenney-gvl! I'll see if @ahodges has any concerns on
version there

On Thu, Feb 2, 2017 at 2:09 PM, tkenney-gvl <notifications@github.com>
wrote:

[2017-02-03 00:17] ajhodges commented on #152
@tkenney-gvl I haven't tested the beacon app with Nougat yet (actually haven't touched it at all for over a year now, which is awesome!). From my side of things, I need to have root access which will probably be erased by taking the update (and it's possible that the root exploit that yall have been using is patched in this new update, leaving us SOL). Other than that I don't think any of the SDK

[2017-02-03 13:29] tkenney-gvl commented on #152
Thanks for the input, Adam. What I noticed with it not shutting down correctly the other day, was that the SU app was asking for permissions again before it would respond to the power event. I monkeyed around in the SU app settings and found the options to grant permissions automatically without asking and to retain permissions on version updates. The SU app was also a few versions behind so I mad

[2017-02-03 14:01] ajhodges commented on #152
@tkenney-gvl didn't know there were issues, thanks for checking in to that for us. Yep these devices should probably be checked on every few months just to make sure nothing strange has happened (need to accept new google play services terms, etc). But it is great that they've been so low-maintenance so far! I honestly did not think that the app would work this reliably for this long. :+1:

Just h

[2017-02-03 14:16] tkenney-gvl commented on #152
Thanks Adam, will do!

[2017-02-09 17:44] allella commented on #151
Update on the most recent conversations.

[2017-02-09 17:46] allella commented on #151
@jeremywight @agautsc Do we have access to whatever graphics and files were used for the Trolley Tracker stickers?

Also, I've reached out to NEXT High School to see if one of their students could assist with the design of a street sign and A-frame.  If they like the idea then depending on the skill level we might match a mentor with the student.

[2017-02-09 18:53] jeremywight commented on #151
I've got the old assets on my personal computer. I'm currently traveling until next week, so won't be able to get them until then. Sorry @allella, I thought they were in the `marketing` repo, but apparently not :(

[2017-02-09 18:54] allella commented on #151
No rush. Please post the files or repo link here when you're back in town.

[2017-02-09 19:18] ajhodges commented on #151
@allella here's a few of the assets from the Android app
https://github.com/codeforgreenville/trolley-tracker-android-client/blob/master/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
https://github.com/codeforgreenville/trolley-tracker-android-client/blob/master/app/src/main/res/drawable-xxhdpi/logo.png
https://github.com/codeforgreenville/trolley-tracker-android-client/blob/master/app/src/main/

[2017-02-09 19:25] agautsc commented on #151
This is the public marketing folder we have for the Trolley Tracker
https://drive.google.com/folderview?id=0B1Wxj_5D6dLNfnFEeXo3a3pFVl9VVmxmWWpaNElCaXJrUXhxNi0ycVdOb3Y2SzRrWExFRTA

On Thu, Feb 9, 2017 at 2:18 PM, Adam Hodges <notifications@github.com>
wrote:

--
------------------------------
Adam Gautsch
OrangeCoat.com
800-890-1702 x0
http://www.orangecoat.com/people/adam

[2017-02-11 15:35] allella commented on #151
Nichole McAden - Greenlink

Jennifer Brown - Greenville Drive

[2017-02-17 16:56] allella commented on #151
@jeremywight I'm not getting far with the designer idea. Do you have a solid contact that you think can make the two signs happen in the next couple months?  If not then I can ask around.

[2017-02-17 21:28] jeremywight commented on #151
@allella I reached out to Chip at Erwin Penland but haven't got a firm
answer yet. I'm going to see if I can go by there next week and perhaps get
some traction.

On Fri, Feb 17, 2017 at 11:56 AM, Jim Ciallella <notifications@github.com>
wrote:

[2017-02-19 19:20] allella commented on #151
County Square Sign 24" x 18"
(need to measure the distance between the bolt holes)

![greenville-sc-trolley-sign-county-square](https://cloud.githubusercontent.com/assets/1777776/23105509/7957d080-f6ae-11e6-8fae-c8c619bc429a.jpg)

[2017-02-19 19:26] allella commented on #151
Assumed to be 3' x 2' but will confirm with Jennifer Brown at the Drive.

![greenville-sc-trolley-sign-fluor-field](https://cloud.githubusercontent.com/assets/1777776/23105539/fed1796e-f6ae-11e6-8369-092b666624eb.jpg)

[Google Street View of Trolley Pick-up A-Frame](https://www.google.com/maps/place/Greenville+Drive/@34.8416058,-82.4073726,3a,75y,292.31h,90t/data=!3m7!1e1!3m5!1sD29LKXXzWXjcGXzvelH

[2017-02-20 19:13] allella commented on #151
Glad to have @whale aboard the <strike>train</strike> trolley.

Right now we're talking about only two specific signs. The County Square sign is near the stadium side of the county parking lot. I believe the A-frame sign is put out on the right field side of Drive stadium for games and events. We'll need to see if they leave it out because the trolley does stop at the stadium on certain routes, li

[2017-02-20 19:17] bikeoid commented on #151
Here's an inventory of all stops, but some of them are temporary (like Kroc center and The Well)  http://api.yeahthattrolley.com/Stops

[2017-02-20 20:17] ajhodges commented on #151
@allella I'm not sure where you got this information but this is the first I've heard of Code for Greenville being associated with that guerrilla marketing campaign. As far as I know it was funded/executed by a band of local activists who saw great potential in Code for Greenville's work and wanted to spread the word.

[2017-02-20 20:35] allella commented on #151
@ajhodges I got my information from Fake News.

[2017-02-24 03:44] ajhodges commented on #151
Putting this here as a PSA (seemed relevant), I just made an Android 7.1/Pixel style app icon for the trolley tracker. Assets are here:
https://drive.google.com/drive/folders/0B1Wxj_5D6dLNaHc4elctaWdub3M

Not sure if that icon makes sense to use with iOS's design language but I'm switching the Android stuff over to use it.

[2017-02-27 21:45] allella commented on #151
@whale GreenLink does want their logo on the A-frame. I've updated the A-frame comment above with the details and link to the logo.

I'll post notes on the pole sign shortly.

[2017-02-28 14:37] whale commented on #151
Hey guys, sorry. Life just took a massive shit on me and I have to focus on the main things. If someone wants to get me Put X words on this sign and Y words on this sign and here are the exact dimensions and it should probably have these colors and it shouldn’t deviate massively from these five signs then I can do this. If not, that’s okay, I just don’t have the mental capacity for this.
Hope you

[2017-02-28 17:06] allella commented on #151
@whale No sweat. Focus on what's important and we'll find another project down the road.

Best,
Jim

[2017-03-03 18:42] allella commented on #151
[Valerie Miller](https://www.linkedin.com/in/valerielynmiller/) with Brains is going to help us with the design.

@jeremywight @agautsc do we have high resolution digital assets from the EP trolley tracker. There are low-res, 300px and less, in the assets Google Drive.

And/or do we have the GreenLink assets? I've asked Nicole for the GreenLink stuff but if we already got it then it may save time.

[2017-03-04 14:17] jeremywight commented on #151
Awesome to hear @allella! Thanks for your assistance Valerie!

Jim I've uploaded all marketing assets to our previously unused marketing repo: https://github.com/codeforgreenville/trolley-tracker-marketing/tree/master/trolley-tracker-app-assets

[2017-03-06 16:45] allella commented on #151
The [GreenLink style guide and trolley graphic](https://github.com/codeforgreenville/trolley-tracker-marketing/tree/master/trolley-tracker-app-assets) has been dropped in the marketing repo as GreenlinkTrolleyGuidelines.eps

[2017-03-06 16:48] valerielynmiller commented on #151
Hey @allella!

[2017-03-08 13:46] ajhodges commented on #142
I can't find any other thread on our GitHub discussing the new trolley routes, so I'll just put this here.

Got an e-mail from my neighborhood mailing list pimping out the trolley tracker, good work spreading the word at those meetings! Also looks like I may be living walking distance to a trolley stop again :)

![image](https://cloud.githubusercontent.com/assets/856738/23706296/9561b324-03db-11e7

[2017-03-08 13:52] ajhodges opened #153 "'With well' routes being scheduled but not followed"
I've noticed over the last few weeks that the trolley routes have frequently been the 'the well' variant, but the trolleys aren't actually going over there, they're just going straight down main. Who can we let know about this? I think we've imported the schedule for the arena into our back-end under the assumption that the trolley will be going over there for every event. Are we sure this is the

[2017-03-08 14:24] bikeoid commented on #153
I pulled the routes for Saturday and found that they did go over to the well at times, but I didn't break those out to see when that was.    They must be following the event schedules more closely than what is on the schedule.

Officially, the trolley cannot make a direct path from the parking lot to The Well, and I see that the drivers are now doing that by running the entire route when they go t

[2017-03-08 23:45] jeremywight commented on #142
Thanks Adam!

On Wed, Mar 8, 2017 at 8:46 AM, Adam Hodges <notifications@github.com>
wrote:

[2017-03-13 15:12] valerielynmiller commented on #151
Hey @allella I have designs for review. I need to double check that the screws won't be in the way (add FPO to the Mechanicals) and I'll send them over.

[2017-03-14 16:54] valerielynmiller commented on #151
In studying the sign, it appears that it's using Greenlink colors (dark green and dark blue) even though it doesn't really 'go' with the Trolley logo. I'm not sure if that's a city of Greenville regulatory mandate or not. Attached are 2 sign options. 1 - Follows 'city guidelines' given their font reco and the provided artwork. The second option (more for if they are going to update all of the trol

[2017-03-14 16:55] valerielynmiller commented on #151
From what I can tell, this is the hole placement for the signs: ![greenville-sc-trolley-sign-county-square-hole](https://cloud.githubusercontent.com/assets/26168684/23912247/782074ba-08b5-11e7-926c-f849f6388fb8.jpg)

[2017-03-14 17:03] valerielynmiller commented on #151
Since the Trolley Tracker app is purple and green, and there is purple and green in the trolley sign logo, I made the A-Frame signs purple and green. Flood purple provides a higher contrast than flood green so I went with purple. Also if it gets knocked over, hopefully the dark color will help hide dirt.

Since YeahThatGreenville.com has the download options for iOS and Android, (and it's easier t

[2017-03-14 17:47] allella commented on #151
Valerie,

Great.

I'd be ready to show that A-frame design to GreenLink and the Drive for input if the folks here agree.

On the pole sign, I screwed up and never posted the full expectations like I did for the A-frame.  I was still gathering info when we first started talking and I forgot to post a full summary here and be explicit about the use of the word "supplement".

On the county Square sig

[2017-03-14 17:58] ajhodges commented on #151
@valerielynmiller those look great! Thanks for your hard work on this... @allella I think we should show Greenlink the full-size sign designs too just in case they change their mind ;)

Agree that links to the play store / itunes are too much for a sign, but we did talk about the idea of using the app store logos to reinforce the fact that it's an app. How do you like the idea of adding those logo

[2017-03-14 18:02] allella commented on #151
Yes, GreenLink may be willing to replace the whole sign. That was my original expectation and then they changed it and I never did make that totally clear here on GitHub.

Showing them the whole pole sign and then a basic supplemental smaller sign may convenience them that two signs may not be the best long term idea if they see eventually expading it to all over town.

[2017-03-14 18:02] bikeoid commented on #151
I like those designs in the PDF!    I'm a bit late to think of this, but one comment from visitors in the early days was that the phone number had no area code; visitors might  not know the area code.

I have no opinion, but it doesn't look like a simple insert to add the area code and maintain the current sign design balance.

[2017-03-20 17:43] valerielynmiller commented on #151
Here is the updated first PDF:

Page One - The current sign / No changes.
Page Two - Graphics for a secondary sign (of the same size) installed below.

Page Three - The current sign updated.
Page Four - Graphics for a secondary updated sign (of the same size).

[2017-03-20 17:44] valerielynmiller commented on #151
[TrolleySign-18x24-V2.pdf](https://github.com/codeforgreenville/trolley-tracker/files/855858/TrolleySign-18x24-V2.pdf)

[2017-03-20 17:46] valerielynmiller commented on #151
Here is a second PDF sized to 18"W x 10"H
Page 1 - For under the current sign
Page 2 - For under the the 'more fun' updated sign as shown in the above PDF.

[2017-03-20 17:46] valerielynmiller commented on #151
[TrolleySign-18x10-V1.pdf](https://github.com/codeforgreenville/trolley-tracker/files/855866/TrolleySign-18x10-V1.pdf)

[2017-03-20 18:46] bikeoid commented on #151
Very nice set of choices!  The area code is there if they go with the new sign.   Thank you!

[2017-03-20 19:22] allella commented on #151
@valerielynmiller Excellent. I'm traveling until tomorrow but will try to organize and get everything in front of GreenLink this week.

Thanks.
Jim

[2017-03-23 14:43] allella commented on #151
The A-frame design has been sent to Nicole @ GreenLink and Jen at the stadium for feedback.

We'll send another email to the GreenLink and city contacts regarding the various County Square pole sign options.

I re-grouped those options into a few files for them to review.

**Short Supplemental Pole Sign Designs at 18" x 10"**
[supplemental-trolley-pole-signs-18x10.pdf](https://github.com/codeforgr

[2017-03-24 21:43] allella commented on #151
@valerielynmiller

I think you saw most of the feedback via email, besides what Jen at the stadium said.  I've summarized below.

**A-Frame Feedback**
- We like option 2, just because the logo is bigger. - Jen
- Both sides are very similar, but I think the Walk or Wait tagline is more eye catching. My vote would be for that option. - Nicole

**Pole Sign Feedback**
- My option would be to go with a

[2017-04-04 23:07] allella commented on #151
@valerielynmiller I'm going to send the two designs to the printers for estimates to keep things rolling since we seem to be pretty close to what will be approved.

Besides the feedback notes above I also noticed the smaller pole sign might benefit from hole marks.  One of the printer said we could indicate that and have them punch it or have the City drill in the field. I'll ask GreenLink what th

[2017-04-05 01:26] valerielynmiller commented on #151
Hey Jim,

Thanks so much! We have a huge pitch happening in the morning and it's been
a total time suck. I'll set aside some time here in the next 24hours and
review the the thread / update files as needed.

Thanks!!

On Tue, Apr 4, 2017 at 7:07 PM, Jim Ciallella <notifications@github.com>
wrote:

[2017-04-28 16:58] allella commented on #151
Thanks to @valerielynmiller for delivering the modified A-frame sign.  We have 2 quotes and may need a 3rd if GreenLink end up paying for it. Though, I may just pay the $36 if we can have it done for HOG Day on May 6th.

[TrolleyA-Frame-23.75x27.5-V2-FINAL.pdf](https://github.com/codeforgreenville/trolley-tracker/files/965052/TrolleyA-Frame-23.75x27.5-V2-FINAL.pdf)

[2017-04-28 18:42] jeremywight commented on #151
Let me know if theres anything I can do to help there @jim. Do we just need
another quote?

On Fri, Apr 28, 2017 at 12:58 PM, Jim Ciallella <notifications@github.com>
wrote:

[2017-04-28 18:57] allella commented on #151
Thanks Jeremy. I can't see the three quote process not gumming up the works for the A-frame printing. I've reached out to the $36 quote and will handle that if they can print it before next Saturday's HOG Day.

[2017-05-01 15:52] allella commented on #151
The company who said they would print these by Friday is now saying we need to hit a $100 minimum for them to do work.

As such I'm just going to wait until we have the aluminum signs ready and go through GreenLink's 3-step process for everything.

I'll print smaller versions of these for HOG Day and our volunteers will be telling people about the trolley tracker.

[2017-05-01 16:08] jeremywight commented on #151
Okay. Thanks for the legwork Jim!

On Mon, May 1, 2017 at 11:52 AM, Jim Ciallella <notifications@github.com>
wrote:

[2017-05-06 01:21] bikeoid opened #154 "New trolleys and routes"
Some stuff from the slack group:

New trolley routes status:   New trolley delivery dates not yet firm, but likely in June.  Before the new stops can be activated on any of the new routes, handicap-accessible concrete landing pads must be built.   Public works is starting to work on them, but may not finish all pads by the time the trolleys arrive.

note from pamela
[12:00 PM]
The founder of Open

[2017-05-06 01:53] mblizzard-gvl commented on #154
We have one of the new phones in but are having issues with rooting 7.1. We should have this straight shortly. Has the app been tested on 7 yet?

Mike Blizzard
Technical Services Manager | IT Department
City of Greenville
864-467-5707

-------- Original message --------
From: bikeoid <notifications@github.com>
Date: 5/5/17 9:21 PM (GMT-05:00)
To: codeforgreenville/trolley-tracker <trolley-tracker@

[2017-05-11 22:02] allella commented on #151
![trolley-tracker-sign-at-drive-stadium](https://cloud.githubusercontent.com/assets/1777776/25973883/07e3fca2-3674-11e7-8123-b512d218288f.jpg)

[2017-05-11 22:04] jeremywight commented on #151
:clap:

On Thu, May 11, 2017 at 6:02 PM, Jim Ciallella <notifications@github.com>
wrote:

[2017-05-11 22:06] allella commented on #151
I forgot the Drive only wanted to change one sign of their existing sign so we have an extra.  Perhaps we can figure another popular trolley stop that has, or could use, an A-frame sign.

[2017-05-15 14:14] mblizzard-gvl commented on #154
All,

We have the new phones ready to begin testing.  We will need to install the beacon app to complete the setup.  We were thinking it may be useful to run the new phones in the existing trolleys in parallel with the existing phones for a couple of weeks to make sure everything looks good.   If it works as expected, Trolley 1 should have the same beacon data as Trolley 3 and Trolley 2 should hav

[2017-05-15 14:55] ajhodges commented on #154
Hi Mike,

Sorry for the lack of response on my part. Here is the beacon app: https://play.google.com/store/apps/details?id=com.codeforgvl.trolleytracker

It's restricted by play store user (it's not public). We created a google account for the tracker, and I can share those credentials with you. You will need to use that account to sign in on the devices and make sure that automatic updates are en

[2017-05-15 15:31] bikeoid commented on #154
I believe the parallel test is a good idea.   It wouldn't hurt to just go ahead and use the live database.   Even though there would be 2 trolleys running in the same location, the only possible user issue might be the trolley icon changing color on one update VS the next.    The rider trolley tracker app won't show any of the trolley information unless there is a route active.   It is best to use

[2017-05-26 14:02] bikeoid commented on #154
The new trolley numbers will be 1701 and 1702 - those numbers will be on the outside of the trolley.

The new beacons may be configured to point to these numbers and perform any testing at any time.   The back end is now configured to accept those numbers.

If the numbers or terminology changes, it will be easy to update.

[2017-05-26 14:38] ajhodges commented on #154
I just realized that we'll have to add some work items for the front-end UIs to handle more than two trolleys. I know that the Android currently only has two icons (purple/green) so we'll have to add some new colors. Do we know how many trolleys will be in operation simultaneously? I've gotta double check the code and make sure I'm not limiting things to two trolleys anywhere else.

I suppose a dy

[2017-05-26 14:49] bikeoid commented on #154
Re: consistent trolley colors - as a hack, we could append a color spec #RRGGBB to the end of the trolley name, since it is not directly displayed to the riders (from what I remember).   Otherwise a field could be added.

[2017-05-26 15:43] Linktheoriginal commented on #154
If we can add a hex color field that would be easiest I think.

[2017-05-27 02:45] bikeoid commented on #154
I've added the field IconColorRGB to the dev server at http://yeahthattrolley.azurewebsites.net/ .   It should be published to the real server some time next week.     So anyone feel free to set better colors in the trolley settings on the dev server - I have no idea whether dark / light colors work best in the 3 apps, and if some colors should be avoided.   It may be an iterative process to final

[2017-05-27 03:05] bikeoid commented on #154
Re: Route colors - A particular trolley may or may not run the same route during a schedule period.  As drivers come and go, and take breaks, trolleys may get switched up.   So riders could wrongly associate trolley colors with route colors if they happen to match.

[2017-06-05 12:48] bikeoid commented on #154
The Trolley colors field change is now published to the production server.

[2017-06-12 20:21] allella commented on #151
The updated pole sign by Valerie has been submitted to Greenlink for final approval.
[TrolleySign-18x10-V2-4C.pdf](https://github.com/codeforgreenville/trolley-tracker/files/1069408/TrolleySign-18x10-V2-4C.pdf)

[2017-06-23 10:23] austin9350 commented on #154
I've uploaded a new TestFlight build that adds support for the colors field, should be available sometime today.

[2017-06-23 11:53] jeremywight commented on #154
Thanks all!

On Fri, Jun 23, 2017 at 6:23 AM, Austin <notifications@github.com> wrote:

[2017-06-24 00:50] bikeoid commented on #154
It works here !

[2017-07-07 17:51] reds opened #155 "Google driving api for estimating time of arrival"
I've being playing with googles directions api which gives driving directions and time of travel information. Just wondering how to make the data useful to the current apps.

The following shows the number of seconds between stops.
https://redmond5.com/maps/test.html

I think there may be some rerouting going on in there too, which will need to be fixed.

[2017-07-12 21:47] allella commented on #151
Quotes have finally come in on the aluminum signs. One quote was for the first one free.

They have been passed along to GreenLink for approval.

[2017-07-13 00:04] bikeoid opened #156 "Add designated stops only warning message to all apps"
Greenlink has received many complaints from passengers who want to be let off of the trolley, or board the trolley, between stops.
This is unsafe and is against their policy.

Would it be possible to add some disclaimer or notification to the trolley tracker client apps that says something along the lines of:

“To ensure safety, passengers are restricted to board and exit the trolley at designated

[2017-07-17 19:00] allella commented on #151
We're working on the quotes for the aluminum sign.  Sounds like this design will only be used at County Square for the foreseeable future since many of the other poles around town don't have the space or head height for similar signs.

GreenLink also shared that they will be adding stickers to the existing trolley signs showing the routes that run at the particular stop. They look like the attache

[2017-07-18 00:15] bikeoid commented on #154
What is the status of running with 4 routes and 4 trolleys?  Greenlink is getting close to switching to the new routes, and I wanted to be sure that the apps wouldn't crash (even if coloring is not optimal yet).   Riders will probably be OK to start with as long as they can see routes, stops, and trolley locations.

From last month's meeting, I believe the web app is ready.   What about IOS and An

[2017-07-18 00:30] ajhodges commented on #154
Android will not crash with more than two trolleys, but the marker colors will alternate between Green and Purple until the dynamic color update is pushed, next week at the earliest.

[2017-07-18 00:34] austin9350 commented on #154
I can go ahead and submit the last TestFlight build for public release, I haven't seen any major issues with it and it seems to handle the additional trolleys/routes satisfactorily.

[2017-07-18 00:41] mblizzard-gvl commented on #154
We have the phones ready but never ran them parallel with Trolley 1&2. Do we need to run them parallel or just wait and mount them in the new trollies?

Mike Blizzard
Technical Services Manager | IT Department
City of Greenville, SC
www.greenvillesc.gov<http://www.greenvillesc.gov>

On Jul 17, 2017, at 8:34 PM, Austin <notifications@github.com<mailto:notifications@github.com>> wrote:

I can go ahe

[2017-07-18 01:04] bikeoid commented on #154
I don't think they need to be run in parallel.   As long as there is confidence that they will turn off and on with the ignition switch, they can be directly mounted in the new trolleys.

[2017-07-22 23:28] stampthecoder commented on #156
Hmm... I think a disclaimer during loading would be less complex and not rely on scheduling logic for each app which would have to be something else to maintain over time. This seems like a rule that needs to be expressed.

[2017-07-23 22:17] jeremywight commented on #156
Agreed, maybe in the settings or under the "?" bubble rather than obtusely
in the users view?

On Sat, Jul 22, 2017 at 7:28 PM, stampthecoder <notifications@github.com>
wrote:

[2017-07-25 01:09] bikeoid commented on #154
How long will the IOS public release take to get through the Apple Store review?

[2017-07-25 04:11] jeremywight commented on #154
Typically 1-2 days, but up to 4

On Mon, Jul 24, 2017 at 8:09 PM bikeoid <notifications@github.com> wrote:

[2017-07-25 23:04] austin9350 commented on #154
Just released the update at the work night, should be live in the store now.

[2017-07-26 13:13] bikeoid commented on #154
We now have a start date for the new trolleys and new routes, unless something else comes up.  Thursday, August 3 at 6pm

[2017-07-31 20:06] bikeoid opened #157 "Integrated alert message to Trolley Tracker App users"
When running 4 routes with one trolley per route, a trolley mechanical failure will have a greater impact on riders.   Today if a vehicle fails, the same route will be serviced at less frequent intervals by a single trolley.   Riders can see the situation at a glance on the Trolley Tracker.    In the new route situation, Greenlink does have a fallback plan to maintain trolley route service, but a

[2017-08-02 20:49] ajhodges commented on #154
I was just chatting with some people on Nextdoor about the app, someone noticed that the only stops for the 'Augusta' route are downtown. Are there going to be regular stops in neighborhoods for that route? Not sure who should get that question...

[2017-08-02 22:21] bikeoid commented on #154
The Augusta route direction accidentally got flipped by my tool, so there were no stops on the right side of the route.    I corrected that and let there be stops!  They show up now in my Android app.

I see that the IOS app doesn't refresh the schedules unless the app is restarted - I'll generate an issue.

[2017-08-03 18:24] bikeoid commented on #154
Some pictures of the new trolley:

![1702](https://farm5.staticflickr.com/4344/35546439673_93a28e6fd4_b.jpg)
![1702](https://farm5.staticflickr.com/4353/36186099382_25750ba39c_b.jpg)
![1702](https://farm5.staticflickr.com/4422/35546439963_db867f27b0_b.jpg)

[2017-08-05 09:22] jeremywight opened #158 "Extra Shop Showing in App?"
From in App Feedback:

[2017-08-05 10:41] bikeoid commented on #158
Extra stop now removed - it was left in from  an earlier version.

[2017-08-05 10:41] #158 closed

[2017-08-05 12:46] jeremywight commented on #158
Great to know. I'll let the user know!

On Sat, Aug 5, 2017 at 6:41 AM bikeoid <notifications@github.com> wrote:

[2017-08-05 17:33] austin9350 commented on #156
New build is processing through TestFlight which includes the disclaimer message. Currently it shows for 10 seconds on each app launch, and can also by dismissed manually by tapping on it. The timing can be easily adjusted if needed.

Other changes in this build are as follows:

- Schedules refresh on the quarter hour (similarly to the way routes do)
- Updated Stop pins on the map (these are small

[2017-08-05 17:55] jeremywight commented on #156
Great stuff Austin!

On Sat, Aug 5, 2017 at 12:33 PM Austin <notifications@github.com> wrote:

[2017-08-12 02:49] bikeoid commented on #156
The smaller stop pins are great to make it easier to see things now with all the routes.

I didn't see the disclaimer message if I had checked the app with no routes running, but it did show properly when I restarted the app.   I think that's probably OK.

The routes didn't show at first when I opened the app until I switched to the schedule page and back.

[2017-08-15 23:27] jeremywight opened #159 "Users would like to have a way to clearly know which trolley is running on which route"
I've received several user submitted feedback emails about confusion of which trolley is running which route now that we have the new routes added.

A user would like an easy way to differentiate routes, trolleys and direction of travel, and understand which trolley is running which route.

Perhaps in the UI we could make the labelingof the routes and trolley more clear somehow? Possibly numbering

[2017-08-16 01:02] bikeoid commented on #159
Route path direction arrows could help also.

[2017-08-16 01:05] austin9350 commented on #159
If we are able to know what route a particular Trolley is running, one thing I had thought we could do client side is if a user taps on a Trolley (or Stop), we could hide (or at least dim) all the other Trolleys and Routes/Stops.

[2017-08-16 02:31] jeremywight commented on #159
That's a great idea Austin. Also I noticed I using the iOS app this weekend
that it starts at a fixed zoom which is pretty wide. It might be better to
auto zoom in focused closer to your location.

On Tue, Aug 15, 2017 at 9:05 PM Austin <notifications@github.com> wrote:

[2017-08-16 02:32] jeremywight commented on #159
From a user:

Consistent color coding of the routes (the Map page and the Schedule pages)
would help enormously, as would showing the moving  trolley progress on the
Schedule page instead of (or in addition to) the Map page. So, to see it
from a user's protective: he or she could be looking for a red route, or a
blue route or a yellow route. Consistent color coding would really clarify
the routes

[2017-08-17 00:53] austin9350 commented on #159
@jeremywight Right now I have it set to zoom the map to the downtown area rather than the user's location when the app launches. My thinking was that if the user wasn't close enough to downtown to see any Trolleys or Routes, there wouldn't be much to look at when the app launched.
Maybe I could start with the fixed downtown location, and then when the app gets the user's location, if that location

[2017-08-17 00:59] austin9350 commented on #159
@bikeoid you mentioned something about electronic route annunciator headboards, do we know how they are planning to control those?

[2017-08-17 01:33] bikeoid commented on #159
@austin9350 Good point about the electronic route annunciator headboards - if we could connect to them, that would be a great way to know which route a trolley is running.   I'll try to get more information on this.

Also, FYI - currently they are planning to put the AVL (Automatic Vehicle Location) on Greenlink buses starting testing near the end of the year.   It was also mentioned that they mig

[2017-08-17 02:03] jeremywight commented on #159
@austin9350 Yeah I think that is a great plan if it's not to hard to implement. Our use case was we were downtown, but we had to re-center on ourselves and zoom in to figure out where we were in relation to the trolley. I think startup, centered on downtown, if your location is within that map area, once the app has your location, zoom in to your location with maybe an area of like 1mi radius.

So

[2017-08-20 02:06] austin9350 commented on #159
@jeremywight @bikeoid  I've been playing around with the color-coding some and I think I have it working, at least an initial implementation.

Basically each Trolley is assigned a score for how likely it is to be assigned to a particular route based on how many stops of that route it's been seen at compared to how many total stops that route has.

The algorithm probably needs to some refinement to

[2017-08-20 23:36] bikeoid commented on #159
I think that should work pretty well, especially for now when the trolley  <> route match won't change very often.  It could probably be made sticky between scheduled days.

It seems like this might make sense to do on server side since it requires looking over a span of time?    If so, would that be just adding a color to the trolley definition (except that since it could change so easily, we mig

[2017-08-21 00:03] jeremywight commented on #159
Great thinking Austin! Excited to see how this pans out. Would definitely
be good to spend some time testing before going to live to GA if that's the
method we implement.

On Sun, Aug 20, 2017 at 7:36 PM bikeoid <notifications@github.com> wrote:

[2017-08-21 01:32] austin9350 commented on #159
I agree it makes sense to implement this logic server-side.

I'm thinking it might involve two things added to the Route responses.
- A color field (similar to the one current on Trolleys)
- An array of IDs of Trolleys running that route

The combination of those two things would allow for several client-side features we've been discussing.
1. The color-matching of Trolleys-Routes-Stops
2. Highlig

[2017-08-22 22:54] jeremywight opened #160 "Users would like to be able to understand the direction of travel of the trolleys on a given route"
Users are consistently asking for a quick and easy method of understanding which way the trolley is moving on the route. If this is already understood based on the points on the route, or otherwise, this would be great to add @bikeoid @austin9350 @ajhodges

[2017-08-23 02:32] bikeoid commented on #159
@austin9350 , the route colors are being served on the dev server - I'm not sure if I matched the official Greenlink colors correctly - could you check this?

[2017-08-23 02:38] bikeoid commented on #159
@austin9350  , also - if you have the login to the dev server, feel free to adjust the route colors

[2017-08-24 00:47] austin9350 commented on #159
@bikeoid  @jeremywight  Just uploaded a new TestFlight build (23), this one has the route colors hard-coded based on the route names. Also, I realized why the Greenlink map has all the stops the same color. When the routes overlap they share stops so if we show a particular route color it could be confusing to the user (i.e., "is this not a legit stop for this other route?"
Based on that, I made t

[2017-08-24 01:02] bikeoid commented on #159
The latest TestFlight looks good here, where they're running 2 trolleys on the ball game route.   I've submitted the dev version which has route colors for production, but it hasn't published and I haven't heard any update on a possible publication date.

[2017-08-24 01:50] jeremywight commented on #159
Quick pass looks good.

On Wed, Aug 23, 2017 at 9:02 PM, bikeoid <notifications@github.com> wrote:

[2017-08-24 17:00] bikeoid commented on #159
An update: the production server is now running 1.3.9, the version which include colors on routes.

[2017-08-24 19:08] jeremywight commented on #159
Thanks Mike!

On Thu, Aug 24, 2017 at 1:00 PM, bikeoid <notifications@github.com> wrote:

[2017-08-25 00:34] austin9350 commented on #159
The update I submitted has been approved by Apple and is ready to release. I’ve been checking it tonight with more routes active and it seems to be working fine. If you all agree I can go ahead and release it.

[2017-08-25 00:56] bikeoid commented on #159
I've been keeping an eye on it also - much nicer and so much easier to figure out what's going on without needing to zoom too far.

[2017-08-25 01:09] jeremywight commented on #159
Let's do it Austin.
.. Release the kraken!

On Thu, Aug 24, 2017 at 8:34 PM Austin <notifications@github.com> wrote:

[2017-08-25 01:18] austin9350 commented on #159
Kraken has been released! Should be emerging shortly.

[2017-09-14 02:51] bikeoid commented on #154
Just a note: the simulator will not be running for a week (routes only, no trolleys)

[2017-09-25 04:02] allella commented on #151
![20170922_153910_hdr](https://user-images.githubusercontent.com/1777776/30791965-a2d838ce-a184-11e7-845b-1b3b722df6ac.jpg)

[2017-09-25 04:02] #151 closed

[2017-10-06 02:18] bikeoid commented on #154
There were only 3 trolleys running tonight (Thursday), and only 2 beacons were operating.   This is likely because of all the equipment modifications being installed on trolleys this week:

1.   A.D.A. compliant voice annunciator for automated voice stop announcements.
2.  An on-board information text light bar (approximately 4" X 3 feet).
3. Passenger counting device on doorway.
 4.  Tablet in a

[2018-07-02 20:16] WayneRyan opened #161 "Suggestion to make the route lines easier to see."
Amazingly cool app!!!

The yellow route is difficult to see on the yellow road lines. It would be easier if the route lines each had a border. Also, if the route lines had transparency set to something like 50% then it would be possible to increase the line width without obscuring the map under them.

[2018-07-03 11:28] jeremywight commented on #161
Thanks for opening this up Wayne!

On Mon, Jul 2, 2018 at 4:16 PM Wayne J. Ryan <notifications@github.com>
wrote:

[2018-07-05 18:17] WayneRyan commented on #161
You are awesome.

If you can draw lines of different thickness; can you get a border effect
by drawing the lines thick with one color, then drawing a thin line on top
of that with a different color?
Is that a lot of code?

Website looks good. How long have the arrows been there? I didn't see them
when I installed the app last Saturday. Showing direction of the line is a
nice improvement.

The app

[2018-07-05 18:29] bikeoid commented on #161
The web client above does draw a thin black line on top already, and that has improved the route visibility of the light colored route.

The arrows are only on the web client - they don't show on any of the apps.  I don't remember if we have  issues for the travel direction for the apps.

The development site demo with the running trolleys is a simulator with fake trolleys.  But since trolleys don

[2018-08-03 01:25] bikeoid opened #162 "Only 1 trolley"
In case there is end user Feedback - on 8/2 there was only 1 trolley showing out of the 4 running.   I happened to be downtown and asked a driver - someone is working on the Syncromatics system server somewhere , not sure when it will resume working.

[2018-08-17 15:40] bikeoid commented on #162
System seems to be working this weekend.

[2018-08-17 15:40] #162 closed